{% load static %}
<script
  data-cfasync="false"
  src="{% static 'backend/js/email-decode.min-1.js' %}"
></script>
<script src="{% static 'backend/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'backend/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'backend/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'backend/js/fonts/custom-font.js' %}"></script>
<script src="{% static 'backend/js/pcoded.js' %}"></script>
<script src="{% static 'backend/js/plugins/feather.min.js' %}"></script>

<script>
  layout_change("light");
</script>
<script>
  layout_theme_contrast_change("false");
</script>
<script>
  change_box_container("false");
</script>
<script>
  layout_caption_change("true");
</script>
<script>
  layout_rtl_change("false");
</script>
<script>
  preset_change("preset-1");
</script>
